<div id="footer">
	<%= image_tag("store/footer.png", id: "footer_bg") %>
	<ul id="bottomnav" class="nav">
		<li><%= link_to "HOME", root_path %></li>
		<li><%= link_to "WOODS", '/t/species' %></li>
		<li><%= link_to "STORE", '/products' %></li>
		<li><%= link_to "CONTACT", '/contact' %></li>
	</ul>
	<p><span class="floatleft">376 Reed St. Santa Clara, CA 95050</span><span class="floatright">(408)392-0573</span></p>
</div>