<header>		
	<%= link_to image_tag("store/forestheader.png"), '#', id: "top_image" %>
	<%= image_tag("store/top_bar.jpg", alt: "") %>
	<ul id="topnav" class="nav">
	 <li><%= link_to "", root_path, id: "homelink" %></li>
	 <li><%= link_to "", '/t/species', id: "woodslink" %></li>
	 <li><%= link_to "", '/products', id: "storelink" %></li>
	 <li><%= link_to "", '/contact', id: "contactlink" %></li>
	</ul>
	<%= image_tag("store/bottom_bar.png") %>
	
</header>
